{% extends "base.html" %}

{% block extrahead %}
    <meta property="og:title" content="My skill" />

    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://raisack8.github.io/my-skill/" />

    <!-- <meta property="og:image:url" content="https://raisack8.github.io/my-skill/theme/myskill_logo.png" /> -->
    <meta property="og:image" content="https://raisack8.github.io/my-skill/theme/myskill_logo.jpg?timestamp=20240700">

    <meta property="og:image:type" content="image/png" />

    <meta property="og:description" content="このサイトは私が今まで培ってきた知識をドキュメント化したものです。">

    <meta property="og:locale" content="en-GB" />
{% endblock %}